@model MVCWebUIComponent.Models.RegisterModel

@{
    ViewBag.Title = @Resources.Resources.RegisterTitle;
}

<h2>@Resources.Resources.RegisterHead</h2>
<p>
    @Resources.Resources.RegisterMessage
</p>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true, @Resources.Resources.SummaryMessage)
    <div>
        <fieldset>
            <legend>@Resources.Resources.AccountInfo</legend>

            <div class="editor-label">
                @Html.LabelFor(m => m.UserName)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.Email)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.Password)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.ConfirmPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
            <div class="editor-label">
                @Html.LabelFor(m => m.InvitationCode)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.InvitationCode)
                @Html.ValidationMessageFor(m => m.InvitationCode)
            </div>

            <p>
                <input type="submit" value=@Resources.Resources.Register />
            </p>
        </fieldset>
    </div>
}